body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* .draw-canvas {
  position: absolute;
  inset: 0;
} */

.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
  padding: 10px;
  background: rgba(243, 241, 241, 0.5);
  border-radius: 8px;
}

.slides {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.presenter {
  display: none;
}

.presenter:fullscreen {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* .blackboard {
  display: none;
} */

.blackboard {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #00000060;
  color: white;
}

.whiteboard {
  display: block;
  width: 100vw;
  height: 100vh;
  background: white;
  color: #00000060;
}

.slide {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.canvas-toolbar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 8px;
  z-index: 100000;
  padding: 5px;
  background: rgba(243, 241, 241, 0.5);
  border-radius: 8px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
}

.draw-layer {
  position: absolute;
  cursor: crosshair;
  z-index: 99;
}
